<h1>Thanks <%= @dinner_guest.user.name %>!</h1><br>

<h2>See you at <%= @dinner_guest.dinner_party.location  %></h2>

<h3>On <%= @dinner_guest.dinner_party.date %></h3>

<h3>To review this party, click here
<%= form_tag new_user_review_path , method: "get" do %>
<%= hidden_field_tag :dinner_guest_id, @dinner_guest.id  %>
<%= submit_tag "Review" %>
<% end %>
