

<h2>Log In</h2>
<% unless @message.nil? %>
    <div>
        <p><%= @message %></p>
    </div>
<% end %>
<%= form_tag login_path, method: "post" do %>
    <%= label_tag "Username" %> <br>
    <%= text_field_tag "user_name" %> <br>
    <%= label_tag "password" %> <br>
    <%= password_field_tag "password" %> <br>
    <%= submit_tag "Login" %>
<% end %>