<h1>Dinner Parties</h1>
    <div class="col s2">
        <%= tag.ul class:["collection"] do %>
            <% @dinner_parties.each do |party| %>
            <%= tag.li class:["collection-item"] do  %>
                <%= link_to(party) do %>
                    <%= tag.i "add_circle", class:["left","material-icons",] %>
                <% end %>
                <%= link_to ("#{party.name} - #{party.print_short_date} in #{party.location}"), party %> <br>
                <%= link_to party, method: :delete, data: { confirm: "Are you sure?" }, class: [] do %>
                    <i class="material-icons tiny">delete</i>
                <% end %>
            <% end %>
        <% end %>
        <% end %>
    </div>
<p> <%= link_to "Host a party", new_dinner_party_path, class: ['waves-effect', 'waves-light', 'btn', 'deep-orange', 'darken-1'] %> </p>
