<h1>Let's Throw a Party!</h1>

<% @current_user = current_user %>

<div class="field">
   Your chef and host: <%=  @current_user.name %>
</div>

<%= form_for(@dinner_party) do |f| %>
<div class="field">
<%= f.label :user_id %><br>
<%= f.text_field(:user_id, placeholder:"Should default to current user", :readonly => true) %>
<%= f.hidden_field :user_id, :value => @current_user.id  %>
</div>
<div class="field">
   <%= f.label :date %>
   <%= f.date_field(:date, placeholder: "Date") %>
</div>
<div class="field">
    <%= f.label :location %><br>
    <%= f.select(:location, DinnerParty::LOCATION_LIST) %>
  </div>
  <div class="field">
     <%= f.label :cuisine %> <br>
     <%= f.select(:cuisine, DinnerParty::CUISINE_LIST) %>
  </div>
<div class="field">
   <%= f.label :max_guests %>
   <%= f.text_field(:max_guests, placeholder: "Maximum Guest Count") %><br>
</div>
<div class="field">
<%= f.label :price_per_guest %> <%= f.text_field(:price_per_guest, placeholder: "Price per Guest") %>
</div>
<%= f.submit %>
<% end %>
