<h3><%= @dinner_party.name %></h1>

<h4>Host and Chef: <%= @dinner_party.user.name %></h2><br />
<%= tag.p do %>
  Date: <%= @dinner_party.print_long_date %> <br>
  Place: <%= @dinner_party.location %> <br>
  Cuisine: <%= @dinner_party.cuisine %> <br>
<% end %>
<% if logged_in? && current_user.attending?(@dinner_party) %>
<%= form_tag new_user_review_path , method: "get" do %>
<%= hidden_field_tag :dinner_guest_id, @dinner_party.dinner_guests.find {|dg| dg.user_id == current_user.id  }.id  %>
<%= submit_tag "Write a Review" %>
<% end %>


<% else %>
<%= form_tag dinner_guests_path , method: "post" do %>
<%= hidden_field_tag "dinner_party_id", @dinner_party.id  %>
<%= submit_tag "Attend This Party" %>
<% end %>
<% end %>
<br>
<%= form_tag dinner_party_path(@dinner_party.id), method: "delete" do %>
  <%= submit_tag "Cancel this party" %>
<% end %>
