<h1>User Profile: <%= @user.name %></h1>
<h2>Username: <%= @user.user_name %></h2>




<h3>Parties Coming Up: </h3>
<%= tag.ul do %>
  <% @user.future_parties.each do |party| %>
    <%= tag.li do %>
      <%= tag.p(link_to(party.print_short_date, party)) %>
      <%= tag.p("Host: #{party.user.name}, Location: #{party.location}") %>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to "View past Parties", user_history_path(@user) %></p>

<h3><%= @user.user_name.capitalize %> Reviews</h3>
<% reviews = @user.user_reviews %>
<% reviews.each do |review|%>
<li><%= link_to(review.review_text, user_review_path(@user)) %></li>
<% end %>


<% if logged_in? %>
    <%= form_tag user_path(@user.id), method: "delete" do %>
      <%= submit_tag "Delete #{@user.name}" %><br>
    <% end %>
  <%= link_to("Edit User Info", edit_user_path) %><br>


<% end %>