<h3>User Profile: <%= @user.name %></h3>

<div class="divider"></div>

<div class="section">
<h5>Parties Attending: </h5>
<%= tag.ul class: ["collection"]  do %>
  <% @user.future_parties.each do |party| %>
    <%= tag.li class:["collection-item"] do %>
      <%= tag.i "cake", class: ["left","material-icons"]  %>
      <%= party.name ? party.name : "No Name" %> <br>
      <%= link_to(party.print_short_date, party) %> <br>
      <%=  "Host: #{party.user.name}, Location: #{party.location}" %>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to "View past parties", user_history_path(@user) %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Parties being Hosted</h5>
    <%= tag.ul class: ["collection"] do %>
      <% @user.future_hosted_parties.each do |party| %>
        <%= tag.li class: ["collection-item"] do %>
          <%= tag.i "insert_invitation", class: ["left","material-icons"]  %>
          <%= party.name ? party.name : "No Name" %> <br>
          <%= link_to(party.print_short_date, party) %> <br>
          <%= "Location: #{party.location}, Confirmed Guests: #{party.dinner_guests.count}" %>
        <% end %>
      <% end %>
    <% end %>
</div>
<div class="divider"></div>
<div class="section">
<h5><%= @user.user_name.capitalize %> Reviews</h5>
  <% reviews = @user.user_reviews %>
  <%= tag.ul class:["collection"] do %>
    <% reviews.each do |review|%>
      <%= tag.li class:["collection-item"] do %>
        <%= tag.i "comment", class: ["left","material-icons"]  %>
        <%= link_to "#{review.dinner_party.name}, #{review.dinner_party.print_short_date}", review.dinner_party %> <br>
        <%= tag.pre link_to("[#{review.rating} out of 5] #{review.review_text.first(30)}...", review)%>
      <% end %>
    <% end %>
  <% end %>
</div>
<% if logged_in? %>
    <%= link_to("Delete Profile", @user, method: :delete, 
                data: { confirm: "Are you sure?" },
                class: ["waves-effect", "waves-light", "btn", 'deep-orange', 'darken-1']) %>
    <%= link_to("Edit User Info", edit_user_path,
                class: ["waves-effect", "waves-light", "btn", 'deep-orange', 'darken-1']) %><br>
<% end %>

<div class="section"></div>