<h1>Welcome <%= @user.name %>!</h1>
<h2>Username: <%= @user.user_name %></h2>

<%= form_tag user_path(@user.id), method: "delete" do %>
  <%= submit_tag "Delete #{@user.name}" %><br>
  <% end %>
<%= link_to("Edit User Info", edit_user_path) %><br>

<%= link_to("Join a Party!", dinner_parties_path) %><br>
<%= link_to("Create a Party!", new_dinner_party_path) %> <br>
<%= link_to("Log Out", logout_path ) %>

<%= @user.print_all_parties %>
