<h1>User Profile: <%= @user.name %></h1>
<h2>Username: <%= @user.user_name %></h2>



<div>
<h3>Parties Attending: </h3>
<%= tag.ul do %>
  <% @user.future_parties.each do |party| %>
    <%= tag.li do %>
      <%= tag.p(party.name ? party.name : "No Name") %>
      <%= tag.p(link_to(party.print_short_date, party)) %>
      <%= tag.p("Host: #{party.user.name}, Location: #{party.location}") %>
    <% end %>
  <% end %>
<% end %>

<p><%= link_to "View past parties", user_history_path(@user) %></p>
</div>
<div>
  <h3>Parties being Hosted</h3>
    <%= tag.ul do %>
      <% @user.future_hosted_parties.each do |party| %>
        <%= tag.li do %>
          <%= tag.p(party.name ? party.name : "No Name") %>
          <%= tag.p(link_to(party.print_short_date, party)) %>
          <%= tag.p("Location: #{party.location}, Confirmed Guests: #{party.dinner_guests.count}") %>
        <% end %>
      <% end %>
    <% end %>
</div>


<h3><%= @user.user_name.capitalize %> Reviews</h3>
  <% reviews = @user.user_reviews %>
  <ul>
    <% reviews.each do |review|%>
      <%= tag.li do %>
        <%= tag.p do %>
          <%= link_to "#{review.dinner_party.name}, #{review.dinner_party.print_short_date}", review.dinner_party %>
        <% end %>
          <%= tag.pre link_to("[#{review.rating} out of 5] #{review.review_text.first(30)}...", review)%>
      <% end %>
    <% end %>
  </ul>

<% if logged_in? %>
    <%= link_to( "Delete", @user, method: :delete, data: { confirm: "Are you sure?" }) %>
    <%= link_to("Edit User Info", edit_user_path) %><br>
<% end %>